<h1>home page</h1>
<% if (locals.user){ %>

<section id="feed-post">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="type here..."></textarea>
        <input type="submit" value="post">
    </form>
</section>
<div id="post-list-container">
 
         <% for(post of posts){ %> 
         <h1><b><i><%= post.content %></i></b></h1>
         <small><i><%= post.user.name %></i></small>
         <hr>
        
          <% } %>
   
</div>


<% } %>

<!-- this is to displayh the posts  -->



