<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

   
</head>
<body>
    <%- include('_header'); %>

    <main id="layout-main">
    <%- body %>
    </main>

    <%- include('_footer'); %>
</body>
</html>