<link rel="stylesheet" href="/stylesheets/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>
<% if (typeof user !== 'undefined') { %>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><button><a href="/">feed</a></button></p>

<% } %>