#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #ff0000;
  color: #f4f4f4;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav .mini-logo p {
    margin: 5px;
    font-size: 1.4rem;
    font-weight: bold; }
  #layout-header nav .auth-links ul {
    margin: 5% 10px;
    display: flex; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px;
      margin-left: 10px; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
